	#gameWindow{
				position: relative;
				width: 600px;
				height: 400px;
				background-color: #FFFFFF;
				overflow: hidden;
				margin: 0 auto;
				color: red;

			}

			#pacman{
				position: absolute;
			}

			.rotate90{
				transform:rotate(90deg);
				behavior: url(-ms-transform.htc);
				-moz-transform:rotate(90deg);
				-webkit-transform:rotate(90deg);
				-o-transform:rotate(90deg);
				-ms-transform:rotate(90deg);
			}
			.rotate270{
				transform:rotate(270deg);
				behavior: url(-ms-transform.htc);
				-moz-transform:rotate(270deg);
				-webkit-transform:rotate(270deg);
				-o-transform:rotate(270deg);
				-ms-transform:rotate(270deg);
			}
			.flip-horizontal{
				-moz-transform: scaleX(-1);
				-webkit-transform: scaleX(-1);
				-o-transform: scaleX(-1);
				-ms-transform: scaleX(-1);
				transform: scaleX(-1);
				-ms-filter: fliph;
				filter: fliph;
			}